
div img {
    max-width: 100%;
    width: 700px;
    border: 2px solid grey;
}

div img:hover {
    opacity: 0.5;
    background-color: #0a3641;
}

.jacket-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 25px 25px 25px 25px;
}

.about-product span {
    color: #0a3641;
    font-weight: bold;
    font-size: larger;
}

